<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ssafy.howdomodo">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".di.Application"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.main.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.last.LastActivity" />
        <activity android:name=".ui.mypage.UpdatePwActivity" />
        <activity android:name=".ui.login.FindPwActivity" />
        <activity android:name=".ui.theater.TicketInfoActivity" />
        <activity android:name=".ui.chat.ChatActivity" />
        <activity android:name=".ui.chat.ChatRoomActivity" />
        <activity android:name=".ui.mypage.MypageActivity" /> <!-- <activity android:name=".ui.selectArea.SelectTheaterActivity" /> -->
        <activity android:name=".ui.mypage.privates.PrivateActivity" />
        <activity
            android:name=".ui.LoadingActivity"
            android:theme="@style/Transparent" />
        <activity android:name=".ui.main.WebviewActivity" />
        <activity android:name=".ui.theater.TheaterActivity" />
        <activity android:name=".ui.gwanSelect.GwanSelectActivity" />
        <activity android:name=".ui.signup.SignupActivity" />
        <activity android:name=".ui.login.LoginActivity" />
        <activity android:name=".ui.selectArea.SelectAreaActivity" />
        <activity android:name=".ui.bottomtap.BottomTabActivity" />
        <activity android:name=".ui.main.MainActivity">

        </activity>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="5f64fe00cb27d83e5d796cf77e70959b" />
    </application>

</manifest>